* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 0.65rem;
}
body {
  min-height: 100vh;
  /* background-color: #fafafa; */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 2rem 3.5rem;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
