.addPaymentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: min(500px, 80%);
  height: 70%;
  border-radius: 5px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.addPaymentMenu__amount,
.addPaymentMenu__select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.addPaymentMenu__amount > p,
.addPaymentMenu__select > p {
  color: #fba91a;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.addPaymentMenu__amount > input,
.addPaymentMenu__select > select {
  width: clamp(200px, 500px, 70%);
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.addPaymentMenu__select > select > option {
  width: 70%;
  font-size: 1.8rem;
}

.addPaymentMenu > form > .addPaymentMenu__btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: clamp(200px, 500px, 70%);
}

.addPaymentMenu > form > .addPaymentMenu__btnContainer > button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  outline: none;
  border-radius: 5px;
}

.addPaymentMenu
  > form
  > .addPaymentMenu__btnContainer
  > button:last-child:hover {
  background-image: unset;
  opacity: 0.7;
}

.addPaymentMenu > form > .addPaymentMenu__btnContainer > button:nth-child(1) {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
