.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.header__payment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 4.2rem;
}

.header__payment > .date {
  color: #fba91a;
  text-align: center;
  width: 100%;
}

.header__payment > .date > p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__payment > .date > p > svg {
  font-size: 3rem;
  padding-top: 0.8rem;
  cursor: pointer;
}
.header__payment > .date > p > svg > polyline {
  stroke: #3e3e3e;
}

.header__payment > .week,
.header__payment > .month {
  text-align: center;
}

.header__payment > .week > p:first-of-type,
.header__payment > .month > p:first-of-type {
  font-size: 1.6rem;
}
